body{
    background-color: #fefaef !important;
}

.container {
    min-height: 100vh;
    background-color: #fefaef !important;
    display: flex;
   align-items: center;
    justify-content: center;
}
.quiz-card {
    width: 30rem;
}
.question-footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover:not(.disabled) {
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}

.bg-success, .bg-danger {
    color: white;
} 
.text-center {
    text-align: center;
}
#endScreen .text-center:first-child {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.progress-bar {
  transition: width 0.4s ease;
}